# Random
.DS_Store
.vscode
local/
*.a
.normignore
# Object files
bin/
tests/bin
bin_builtins/
*.o
# Executables
a.out
minishell
minishell_builtins
builtin_test
test_parser
# Tests and Debug logs
debug/*
tests/*
tests/logs/minishell_builtins.log
tests/logs/minishell_builtins_results.log
tests/logs/result_parser.log
tests/logs/valgrind_*.log