# Random
.DS_Store
.vscode
demo.c
local/
*.a
# Object files
bin/
tests/bin
bin_builtins/
*.o
# Executables
a.out
minishell
minishell_builtins
test
# Tests and Debug logs
debug/*
tests/logs/minishell_builtins.log
tests/logs/result_parser.log
tests/logs/valgrind_*.log